<!doctype html>
<div
  id="home-body"
  style="background-color: #d7f2f6;"
  class="flex flex-col h-screen px-10 pb-2 overflow-hidden text-2xl text-white"
>
  <header class="flex font-semibold">
    <div class="w-1/6 py-6 border-r-2 cursor-pointer">Nemu</div>
    <div class="w-4/6 py-6 text-center" id="title-heading">All</div>
    <button
      class="m-4 text-2xl font-normal bg-blue-700 rounded-md w-36 hover:bg-blue-800"
      hx-delete="/login"
      hx-target="#home-body"
      hx-swap="outerHTML"
    >
      Log Out
    </button>
  </header>
  <hr/>
  <div class="relative flex overflow-hidden">
    <nav class="w-1/6 h-screen pt-6 font-semibold border-r-2" id = "nav-bar">
      <p class="m-2 cursor-pointer" style="text-decoration: underline;" onclick="toggleNavbarFocus('All')" hx-get="/blog/All" hx-target="#blogs">All</p>
      <p class="m-2 cursor-pointer" onclick="toggleNavbarFocus('Political')" hx-get="/blog/Political" hx-target="#blogs">Political</p>
      <p class="m-2 cursor-pointer" onclick="toggleNavbarFocus('Science')" hx-get="/blog/Science" hx-target="#blogs">Science</p>
      <p class="m-2 cursor-pointer" onclick="toggleNavbarFocus('Technical')" hx-get="/blog/Technical" hx-target="#blogs">Technical</p>
      <p class="m-2 cursor-pointer" onclick="toggleNavbarFocus('Educational')" hx-get="/blog/Educational" hx-target="#blogs">Educational</p>
      <p class="m-2 cursor-pointer" onclick="toggleNavbarFocus('Geographical')" hx-get="/blog/Geographical" hx-target="#blogs">Geographical</p>
      <p class="m-2 cursor-pointer" onclick="toggleNavbarFocus('Other')" hx-get="/blog/Other" hx-target="#blogs">Other</p>
    </nav>
    <main class="w-5/6 overflow-y-auto scroll-bar" id="blogs">
     {{ template "blog.html" . }}
    </main>
    <img src="../static/images/add_post.png" class="absolute h-16 cursor-pointer right-10 bottom-10 hover:opacity-70"></img>
  </div>
  <script>
    // Toggle underline for tags
    function toggleNavbarFocus(title){
      let titles = document.getElementById("nav-bar").children;
      for (let t of titles){
        if (t.innerHTML != title){
          t.removeAttribute("style");
        } else{
          t.setAttribute("style","text-decoration:underline");
          document.getElementById("title-heading").innerHTML = title;
        }
      }
    }
  </script>
</div>