<html lang="en">
  <head>
    <title>Nemuda</title>
    <script src="../static/js/htmx.min.js"></script>
    <script src="../static/js/json-enc.js"></script>
    <!-- Extension to send data in JSON Format using hx-ext="json-enc" -->
    <!-- <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script> -->
    <link rel="stylesheet" href="../static/css/output.css" />
  </head>
  <body>
    <div id="main-div">
      <div hx-get={{ .Page }} hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
  </body>
</html>

<!-- Refer hx-boost documentation & push url & history things -->