@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Courier New", Courier, monospace;
}

input[type="text"],
input[type="password"] {
  @apply text-black;
}

#home-body {
  background-image: url("/static/images/background-home.jpg");
  /* background-color: #ffffff;
  background-image: linear-gradient(315deg, #000000 0%, #5899e2 74%); */
}
/* 
hr {
  border-color: black;
} */
