<!doctype html>
<div
  id="home-body"
  style="background-color: #d7f2f6;"
  class="flex flex-col h-screen px-10 pb-2 overflow-hidden text-2xl text-white"
>
  <header class="flex font-semibold">
    <div class="w-1/6 py-6 border-r-2 cursor-pointer">Nemu</div>
    <div class="w-4/6 py-6 text-center" id="title-heading">{{ .RequestedTag }}</div>
    <button
      class="m-4 text-2xl font-normal bg-blue-700 rounded-md w-36 hover:bg-blue-800"
      hx-delete="/login"
      hx-target="#home-body"
      hx-swap="outerHTML"
    >
      Log Out
    </button>
  </header>
  <hr/>
  <div class="relative flex overflow-hidden">
    <nav class="w-1/6 h-screen pt-6 font-semibold border-r-2" id="nav-bar">
      <p class="m-2 cursor-pointer" {{if eq .RequestedTag "All"}}style="text-decoration: underline;"{{end}} onclick="toggleNavbarFocus('All')" hx-get="/blogs/All" hx-target="#home-body" hx-swap="outerHTML">All</p>
      {{ range .TagsList }}
      <p class="m-2 cursor-pointer" {{if eq $.RequestedTag . }}style="text-decoration: underline;"{{end}} onclick="toggleNavbarFocus('{{ . }}')" hx-get="/blogs/{{ . }}" hx-target="#home-body" hx-swap="outerHTML">{{ . }}</p>
      {{ end }}
    </nav>
        <main class="w-5/6 overflow-y-auto scroll-bar" id="blogs">
     {{ template "blog.html" . }}
    </main>
    <img src="../static/images/add_post.png" class="absolute h-16 cursor-pointer right-10 bottom-10 hover:opacity-70" hx-get="/blogs" hx-target="#home-body" hx-swap="outerHTML"></img>
  </div>
</div>