<!doctype html>
<div
id="home-body"
style="background-color: #d7f2f6;"
class="flex flex-col h-screen pb-2 overflow-hidden text-3xl text-white lg:text-2xl bg-gradient-image"
>
<head>
  <title>Nemuda</title>
  <script src="../static/js/htmx.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" type="image/x-icon" href="../static/images/favico.svg" />

  <link rel="stylesheet" href="../static/css/output.css" />
</head>
  <header class="flex mx-10 font-semibold h-28 lg:h-20">
    <img src="../static/images/menu-bar.png" class="block h-16 mt-5 mr-6 lg:hidden" alt="" id="menu">
    <div class="w-1/6 py-6 mt-3 text-4xl cursor-pointer lg:text-2xl lg:mt-0 lg:border-r-2">Nemu</div>
    <div class="w-3/6 py-6 mt-3 text-4xl text-center lg:text-2xl lg:mt-0" id="title-heading">{{ .RequestedTag }}</div>
    
    <div class="w-1/6 h-20 flex justify-center mt-3 mr-8 lg:mr-0 lg:mt-0.5 items-center">
    <a
    href="https://nemuda.s3.eu-north-1.amazonaws.com/Nemuda.apk"
    class="w-40 flex items-center px-6 py-2.5 bg-blue-600 text-white font-semibold rounded-lg shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-300 ease-in-out"
  >
    <svg
      class="w-10 h-10 mr-2"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 8v8m0 0l4-4m-4 4l-4-4"
      ></path>
    </svg>
    App
  </a>
</div>
    <img src="../static/images/message.png" alt="" class="h-16 mt-5 mr-10 cursor-pointer lg:h-12" hx-get="/chats" hx-swap="outerHTML" hx-target="#home-body" hx-push-url="/chats">
    <button
      class="px-5 m-4 text-2xl font-normal bg-blue-700 rounded-md w-60 lg:w-36 hover:bg-blue-800"
      hx-delete="/login"
      hx-target="#home-body"
      hx-swap="outerHTML"
      hx-push-url="/login"
    >
      Log Out
    </button>
  </header>
  <hr/>
  <div class="relative flex flex-col h-full overflow-hidden lg:flex-row">
    <nav class="absolute hidden w-3/5 h-screen pt-6 overflow-y-auto text-3xl font-semibold text-center border-r-2 lg:mx-10 lg:text-2xl bg-gradient-image lg:relative lg:bg-transparent lg:text-start lg:w-1/6 lg:block" id="nav-bar">
      <p class="m-2 cursor-pointer" {{if eq .RequestedTag "All"}}style="text-decoration: underline;"{{end}} hx-get="/home/All" hx-target="#home-body" hx-swap="outerHTML" hx-push-url="true">All</p>
      <div class="h-10 lg:hidden"></div>
      {{ range .TagsList }}
      <p class="m-2 cursor-pointer" {{if eq $.RequestedTag . }}style="text-decoration: underline;"{{end}} hx-get="/home/{{ . }}" hx-target="#home-body" hx-swap="outerHTML" hx-push-url="true">{{ . }}</p>
      <div class="h-10 lg:hidden"></div>
      {{ end }}
    </nav>
    <main class="w-screen mx-3 mb-5 overflow-y-auto lg:mx-0 lg:w-5/6 scroll-bar">    
      {{ template "blog.html" . }}

    {{ if .Blogs }}
    <div class="justify-center" id="load-more-blogs"   hx-get="/blogs/{{ $.RequestedTag }}?offset={{ $.Offset }}"
    hx-swap="outerHTML"
    hx-trigger="intersect once"
    >
    </div>
    {{ end }}
    </main>
    <img src="../static/images/add_post.png" class="absolute cursor-pointer h-28 lg:h-16 right-10 bottom-10 hover:opacity-70" hx-get="/post-blog"  hx-target="#home-body" hx-swap="outerHTML" hx-push-url="/post-blog"></img>
  </div>
  <script>
    var menuButton = document.getElementById("menu");
    
    menu.addEventListener("click",() => {
      let navBar = document.getElementById("nav-bar");
      
      if (navBar.classList.contains("hidden")){
        navBar.classList.remove("hidden");
        return;
      }
      navBar.classList.add("hidden");
    });
  </script>
</div>