<!DOCTYPE html>
<div class="flex lg:block">
  <img
    src="../static/images/menu-bar.png"
    class="block h-20 mt-5 mr-4 lg:hidden"
    alt=""
    id="menu"
    onclick="openMenu()"
  />
  <div
    class="flex items-center justify-center w-full h-20 mt-5 mb-10 text-4xl font-semibold bg-blue-400 rounded-lg lg:text-2xl lg:h-14 lg:mb-0"
    id="title"
  >
    {{ .Receiver }}
  </div>
</div>

<div
  id="message-scroll"
  class="p-10 mt-3 overflow-y-auto text-3xl border border-white rounded-lg lg:text-xl h-9/10 scroll-bar"
>
  {{ if .Messages }}
  <!-- Load Older Messages -->
  <div
    class="flex justify-center"
    id="more-messages-btn"
    hx-get="/message/{{ .Receiver }}?offset={{ .Offset }}"
    hx-swap="outerHTML"
    hx-trigger="intersect once"
  ></div>
  {{ end }}
  <!-- Messages -->
  <div id="messages">
    {{ if eq .Receiver "Nemu Chat" }}
    <p class="text-center text-white lg:text-md">Welcome to Nemu Chat</p>
    {{ else if not .Messages }}
    <div class="p-8 text-center shadow-lg rounded-xl" id="noMsgBox">
      <p class="text-white">
        No Messages with
        <span class="font-bold">{{ $.Receiver }}</span>
      </p>
    </div>
    {{ end }} {{ range .Messages }} {{ if eq .Sender .Receiver}}
    <!-- Self Message or DM -->
    <div class="flex justify-end mb-4 text-2xl lg:text-lg">
      <div class="max-w-xs p-3 text-white bg-blue-600 rounded-lg">
        <div class="flex items-center justify-between">
          <span class="text-lg lg:text-sm">{{ .DateTime }}</span>
        </div>
        <p class="mt-1 font-semibold break-words">{{ .MessageContent }}</p>
        <div
          class="mt-1 text-lg text-right text-gray-300 lg:text-xs message-status"
        >
          {{ .Status }}
        </div>
      </div>
    </div>

    {{ else if eq .Sender $.Receiver }}
    <!-- Receiver Message -->
    <div class="flex justify-start mb-4 text-2xl lg:text-lg">
      <div class="max-w-xs p-3 text-white bg-blue-600 rounded-lg">
        <div class="flex items-center justify-between">
          <span class="text-lg lg:text-sm">{{ .DateTime }}</span>
        </div>
        <p class="mt-1 font-semibold break-words">{{ .MessageContent }}</p>
      </div>
    </div>
    {{ else }}
    <!-- Sender Message -->
    <div class="flex justify-end mb-4 text-2xl lg:text-lg">
      <div class="max-w-md p-3 text-white bg-blue-600 rounded-lg">
        <div class="flex items-center justify-between">
          <span class="text-lg lg:text-xs">{{ .DateTime }}</span>
        </div>
        <p class="mt-1 font-semibold break-words">{{ .MessageContent }}</p>
        <div
          class="mt-1 text-lg text-right text-gray-300 lg:text-xs message-status"
        >
          {{ .Status }}
        </div>
      </div>
    </div>
    {{ end }} {{ end }}
  </div>
  <script>
    scrollToBottom(document.getElementById("message-scroll"));
  </script>
</div>
