<div id="blogs" hx-swap-oob="beforeend">
  {{ range .Blogs }}
  <div
    class="grid grid-flow-col grid-cols-3 mx-10 my-10 overflow-hidden border shadow-xl cursor-pointer rounded-xl lg:mx-24 hover:border-2 hover:border-white"
    hx-get="/blogs/title/{{ .Title }}"
    hx-target="#home-body"
    hx-swap="outerHTML"
    hx-push-url="/blogs/title/{{ .Title }}"
  >
    <img
      src="{{ .ImagePath }}"
      class="transition duration-500 ease-in bg-white h-60 hover:scale-110"
      alt="Image"
    />
    <div class="col-span-2 px-8 py-6">
      <span class="font-semibold">Username:</span>
      {{ .Username }}
      <br />
      <span class="font-semibold">Title:</span>
      {{ .Title }}
      <br />
      <span class="font-semibold">Tag:</span>
      {{ .Tag }}
      <br />
      <span class="font-semibold">Description:</span>
      {{ .Description }}
    </div>
  </div>
  {{ end }}
</div>

{{ if .Blogs }}
<div
  class="flex justify-center"
  id="load-more-blogs"
  hx-get="/blogs/{{ $.RequestedTag }}?offset={{ $.Offset }}"
  hx-swap="outerHTML"
  hx-trigger="intersect once"
></div>
{{ else }}
<!-- No More Blogs Container -->
<div class="flex items-center justify-center cursor-not-allowed">
  <div class="px-6 py-4 text-center bg-blue-600 rounded-lg shadow-md">
    <p class="text-lg font-semibold text-gray-100">No more Blogs</p>
  </div>
</div>
{{ end }}
