<!doctype html>

<div
  class="grid w-screen h-screen grid-rows-4 text-5xl font-semibold text-white bg-no-repeat bg-cover lg:text-2xl bg-register-login"
  id="register-body"
>
  <title>Nemuda</title>
  <script src="./static/js/htmx.min.js"></script>
  <!-- Extension to send data in JSON Format using hx-ext="json-enc" -->
  <script src="./static/js/json-enc.js"></script>
  <link rel="stylesheet" href="./static/css/output.css" />
  <h1
    id="register-page-heading"
    class="font-bold text-center text-7xl lg:text-5xl mt-60 lg:mt-36"
  ></h1>
  <form
    class="container w-full row-span-3 p-10 m-10 mx-auto bg-transparent border shadow-2xl lg:w-1/4 h-3/4 rounded-xl backdrop-blur-md"
    hx-post="/register"
    hx-ext="json-enc"
    hx-trigger="submit[onValidate()]"
    hx-target="#register-body"
    hx-swap="outerHTML"
    hx-push-url="/"
  >
    <h1
      class="flex justify-center mb-20 text-6xl font-semibold lg:mb-10 lg:text-4xl"
    >
      Register
    </h1>
    <label for="username">Username:</label>
    <div class="relative">
      <input
        class="shadow-lg rounded-md pl-2.5 py-1 w-full lg:h-10 h-16 outline-0"
        type="text"
        name="username"
        id="username"
        placeholder="Enter name"
        autofocus
        autocomplete="off"
        hx-get="/users"
        hx-trigger="input delay:1s"
        hx-target="#usernameError"
        hx-swap="innerHTML"
      />
      <img
        class="h-8 absolute lg:right-3 lg:top-1 right-3 top-2.5 cursor-text"
        src="./static/images/profile.png"
        alt=""
        draggable="false"
        onclick="document.getElementById('username').focus()"
      />
    </div>
    <p id="usernameError" class="text-3xl text-red-600 lg:text-lg"></p>
    <div class="h-8 lg:h-4"></div>
    <label for="pass">Password:</label>
    <div class="relative">
      <input
        class="shadow-lg rounded-md pl-2.5 py-1 w-full lg:h-10 h-16 outline-0"
        type="password"
        name="password"
        id="pass"
        placeholder="********"
      />
      <img
        class="h-8 absolute lg:right-3 lg:top-1 right-3 top-2.5 cursor-pointer"
        src="./static/images/eye.png"
        alt=""
        draggable="false"
        onclick="document.getElementById('pass').getAttribute('type') == 'password' ? document.getElementById('pass').setAttribute('type','text') : document.getElementById('pass').setAttribute('type','password')"
      />
    </div>
    <p id="passError" class="text-3xl text-red-600 lg:text-lg"></p>
    <div class="h-20 lg:h-4"></div>
    <!-- Display Server's Response -->
    <div id="output" class="flex justify-center text-red-600">{{ . }}</div>
    <input
      class="w-full h-24 py-2 mt-5 border-2 rounded-full shadow-lg cursor-pointer lg:h-14 opacity-80 hover:opacity-100"
      type="submit"
      id="registerButton"
      value="Register"
    />
    <br />
    <div class="h-10 lg:h-8"></div>
    <a
      class="flex justify-center text-blue-500 cursor-pointer hover:underline"
      hx-get="/login"
      hx-target="#register-body"
      hx-swap="outerHTML"
      hx-push-url="/login"
      >Have an Account ?</a
    >
  </form>
  <script>
    var str = "Welcome to Nemu 2.0";
    var i = 0;
    var timeoutList = [];

    function addLetter() {
      try {
        if (i < str.length) {
          document.getElementById("register-page-heading").innerHTML += str[i];
          i++;
          timeoutList.push(setTimeout(addLetter, 100));
        } else {
          timeoutList.push(setTimeout(removeLastLetters, 500)); // Wait for 0.5 seconds
        }
      } catch (err) {}
    }

    function removeLastLetters() {
      try {
        let heading = document.getElementById("register-page-heading");
        let text = heading.innerHTML;

        if (text.length > 11) {
          heading.innerHTML = text.slice(0, -1);
          timeoutList.push(setTimeout(removeLastLetters, 100));
        } else {
          timeoutList.push(setTimeout(addNemudaLetters, 500)); // Wait for 0.5 seconds before adding "Nemuda"
        }
      } catch (err) {}
    }

    function addNemudaLetters() {
      try {
        let nemuda = "Nemuda";
        let j = 0;

        function addLetterNemuda() {
          try {
            if (j < nemuda.length) {
              document.getElementById("register-page-heading").innerHTML +=
                nemuda[j];
              j++;
              timeoutList.push(setTimeout(addLetterNemuda, 100));
            }
          } catch (err) {}
        }
        addLetterNemuda();
      } catch (err) {}
    }

    addLetter();

    function onValidate() {
      document.getElementById("output").innerHTML = "";
      let username = document.getElementById("username");
      let pass = document.getElementById("pass");

      username.value = username.value.trim();

      let userError = document.getElementById("usernameError");
      if (username.value == "") {
        userError.innerHTML = "This field is mandatory";
        username.focus();
        pass.value = "";
        return false;
      }

      if (username.value.length < 5 || username.value.length > 20) {
        userError.innerHTML = "Min 5 letters & Max 20 letters";
        username.focus();
        pass.value = "";
        return false;
      }

      if (username.value.match(/^[a-zA-Z0-9]+$/) === null) {
        userError.innerHTML = "Username should be alphanumeric";
        username.focus();
        pass.value = "";
        return false;
      }

      let passError = document.getElementById("passError");
      if (userError.innerHTML == "Username is already used") {
        passError.innerHTML = "";
        username.focus();
        pass.value = "";
        return false;
      }
      userError.innerHTML = "";

      pass.focus();

      if (pass.value.trim() == "") {
        passError.innerHTML = "This field is mandatory";
        return false;
      }

      if (pass.value.length > 20) {
        passError.innerHTML = "Max 20 letters";
        return false;
      }

      if (
        !pass.value.match(
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=])[a-zA-Z\d@#$%^&+=]{8,}$/
        )
      ) {
        passError.innerHTML =
          "Password: 8+ chars, lower & upper case, digit, symbol";
        return false;
      }
      passError.innerHTML = "";

      let registerButton = document.getElementById("registerButton");
      registerButton.value = "Registering ...";
      registerButton.setAttribute("disabled", "true");
      registerButton.classList.remove("cursor-pointer");
      registerButton.classList.add("cursor-not-allowed");
      return true;
    }
  </script>
</div>
