<!doctype html>
<div
  id="view-blog-page"
  class="h-screen px-10 pb-10 overflow-y-auto text-2xl text-white lg:px-44 scroll-bar bg-gradient-image"
>
  <div
    class="grid grid-flow-col grid-cols-7 my-10 overflow-hidden border rounded-lg shadow-xl cursor-pointer backdrop-blur-md"
  >
    <img
      src="../../{{ .Blog.ImagePath }}"
      class="col-span-2 bg-white h-72"
      alt="Image"
    />
    <div class="col-span-5 px-8 py-6">
      <div class="mt-1 mb-4">
        <span class="font-semibold">Username:</span>
        {{ .Blog.Username }}
      </div>
      <div class="mb-4">
        <span class="font-semibold">Title:</span>
        {{ .Blog.Title }}
      </div>
      <div class="mb-4">
        <span class="font-semibold">Tag:</span>
        {{ .Blog.Tag }}
      </div>
      <div class="mb-4">
        <span class="font-semibold">Description:</span>
        {{ .Blog.Description }}
      </div>
      <span class="font-semibold">Likes:</span>
      {{ .Blog.Likes }}
    </div>
  </div>

  <button
    class="h-24 py-2 mr-16 border-2 rounded-full shadow-lg cursor-pointer w-44 backdrop-blur-md lg:h-14 opacity-80 hover:opacity-100"
    type="button"
    hx-get="/blogs/All?offset=0"
    hx-target="#view-blog-page"
    hx-swap="outerHTML"
  >
    Home
  </button>

  <button
    class="h-24 py-2 mt-5 mr-16 border-2 rounded-full shadow-lg cursor-pointer backdrop-blur-md w-44 lg:h-14 opacity-80 hover:opacity-100"
    id="like-button"
    {{
    if
    .IsBlogLiked
    }}
    hx-delete="/blogs/like/{{ .Blog.Title }}"
    {{
    else
    }}
    hx-post="/blogs/like/{{ .Blog.Title }}"
    {{
    end
    }}
    hx-target="#view-blog-page"
    hx-swap="outerHTML"
  >
    {{ if eq .IsBlogLiked false }} Like {{ else }} Dislike {{ end }}
  </button>

  {{if .IsEditableDeletable }}
  <button
    class="h-24 py-2 mt-5 mr-16 border-2 rounded-full shadow-lg cursor-pointer backdrop-blur-md w-60 lg:h-14 opacity-80 hover:opacity-100"
    hx-get="/update_blog/{{ .Blog.Title }}"
    hx-target="#view-blog-page"
    hx-swap="outerHTML"
  >
    Update Blog
  </button>
  <button
    class="h-24 py-2 mt-5 border-2 rounded-full shadow-lg cursor-pointer backdrop-blur-md w-60 lg:h-14 opacity-80 hover:opacity-100"
    hx-delete="/blogs/{{ .Blog.Title }}"
    hx-target="#view-blog-page"
    hx-swap="outerHTML"
    hx-push-url="/"
  >
    Delete Blog
  </button>
  {{ end }}
  <br />
  <br />

  <div class="flex flex-col mt-16 justify-evenly lg:flex-row">
    <form
      class="w-64 border border-white lg:w-96 backdrop-blur-md rounded-xl"
      hx-get="/blogs/comment/{{ .Blog.Title }}"
      hx-trigger="submit[onValidate()]"
      hx-target="#view-blog-page"
      hx-swap="outerHTML"
    >
      <h1 class="h-16 p-4 overflow-hidden font-semibold bg-blue-500 rounded-bl-none rounded-br-none rounded-xl">
        Post Comment
      </h1>
      <div class="p-4">
        <textarea
          class="shadow-lg mt-5 rounded-md pl-2.5 py-1 w-full lg:h-20 h-32 outline-0"
          name="comment"
          id="comment"
          placeholder="Comment Something ..."
        ></textarea>
        <p id="commentError" class="text-3xl text-red-600 lg:text-lg"></p>
        <!-- Display Server's Response -->
        <div id="output" class="flex justify-center text-red-600">
          {{ .Message }}
        </div>
        <input
          id="commentButton"
          class="w-full h-24 py-2 mx-1 mt-5 border-2 rounded-full shadow-lg cursor-pointer lg:h-14 opacity-80 hover:opacity-100"
          type="submit"
          value="Comment"
        />
      </div>
    </form>

    <div
      class="overflow-y-auto border border-white w-96 backdrop-blur-md rounded-xl h-80 scroll-bar"
    >
      <h1 class="sticky top-0 p-4 bg-blue-500">Comments</h1>
      {{ if not .Blog.Comments}}
      <div class="flex justify-center mt-10">No Comments</div>
      {{ end }}
      <div class="m-4">
        {{ range .Blog.Comments }}
        <div class="p-2 border border-white rounded-lg">
          <span class="font-semibold">{{ .Username }}:</span>
          {{ .Description }}
        </div>
        <br />
        {{ end }}
      </div>
    </div>

    <div
      class="w-64 overflow-y-auto border border-white backdrop-blur-md rounded-xl h-80 scroll-bar"
    >
      <h1 class="sticky top-0 p-4 bg-blue-500">Liked Users</h1>
      {{ if not .Blog.LikedUsername}}
      <div class="flex justify-center mt-10">No Liked Users</div>
      {{ end }}
      <div class="m-4">
        {{ range .Blog.LikedUsername}} {{ . }} <br />
        {{ end }}
      </div>
    </div>
  </div>
  <script>
    function onValidate() {
      let comment = document.getElementById("comment");
      let commentError = document.getElementById("commentError");

      comment.value = comment.value.trim();

      if (comment.value == "") {
        commentError.innerHTML = "This field is mandatory";
        comment.focus();
        return false;
      }

      if (comment.value.length < 5 || comment.value.length > 50) {
        commentError.innerHTML = "Min 5 & Max 50 letters";
        comment.focus();
        return false;
      }
      commentError.innerHTML = "";

      let commentButton = document.getElementById("commentButton");
      commentButton.value = "Commenting ...";
      commentButton.setAttribute("disabled", "true");
      commentButton.classList.remove("cursor-pointer");
      commentButton.classList.add("cursor-not-allowed");

      return true;
    }
  </script>
</div>
